@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <p>Для оформления покупки заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.AutoId" name="AutoId" />
            <table>
                <tr>
                    <td>Имя:</td>
                    <td><input type="text" name="Buyer" /> </td>
                </tr>
                <tr>
                    <td>Телефон:</td>
                    <td><input type="text" name="Phone" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="Email" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>